<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ks.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".UIActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".imageViewActivity" />
        <activity android:name=".ListView.ListtViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".recycleview.RecycleViewActivity" />
        <activity android:name=".recycleview.LinearRecycleViewActivity" />
        <activity android:name=".recycleview.HorRecycleViewActivity" />
        <activity android:name=".recycleview.GridRecycleViewActivity" />
        <activity android:name=".recycleview.PullRecycleActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".DailogActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgressActivity" />
        <activity android:name=".popupWIndowActivity" />
        <activity android:name=".LifeActivity"></activity>
    </application>

</manifest>